*{

    margin: 0;
    padding: 0;
    
}

body{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    user-select: none;
    cursor: default;

    font-family: 'VT323', monospace;

}

/*Style Game's Borders*/

.mineContainer{
    border: 1px solid black;
}
.outerBorder{
    border-top: 10px solid #CACACA;
    border-left: 10px solid #CACACA;
    border-bottom: 10px solid #CACACA;
    border-right: 10px solid #ffffff;
}

.innerBorder{
    border-top: 10px solid #919191;
    border-left: 10px solid #919191;
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
}

/*Style the game area*/

.minefield{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #CACACA;

    width: 400px;
    height: 400px;

    font-size: 46px;
    font-weight: bold;

}

/*Style Cells*/

.one, .two, .three, .empty, .bomb, .hidden{
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 3px dotted black;
    border-right: 3px dotted black;

    width: 47px;
    height: 47px;
}



/*Color the numbers*/

.one{
    color: #5800FF;
}

.two{
    color: #00A200;
}

.three{
    color: #FF0000;
}

/*Style hidden blocks*/

.hidden{

    border-right: 3px solid black;
    border-bottom: 3px solid black;

}

.insideHidden{

    height:39px;
    width: 39px;

    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid #919191;
    border-bottom: 4px solid #919191;


    display: flex;
    justify-content: center;
    align-items: center;

}

/*Hover System*/

.insideHidden p, .insideHidden img{
    visibility: hidden;
}

.hidden:hover{
    border-right: 3px dotted black;
    border-bottom: 3px dotted black;
}

.hidden:hover > .insideHidden{
    border: none !important;
}

.hidden:hover > .insideHidden > p, .hidden:hover > .insideHidden > img{
    visibility: visible;
}