*{
    margin: 0;
    padding: 0;
    cursor: default;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    user-select: none;

    font-family: 'VT323', monospace;
}

.mineContainer{
    border: 1px solid black;
}
.outerBorder{
    border-top: 10px solid #CACACA;
    border-left: 10px solid #CACACA;
    border-bottom: 10px solid #CACACA;
    border-right: 10px solid #ffffff;
}

.innerBorder{
    border-top: 10px solid #919191;
    border-left: 10px solid #919191;
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
}

.minefield{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #CACACA;
    width: 400px;
    height: 400px;

    font-size: 46px;
    font-weight: bold;

}

.one, .two, .three, .empty, .bomb, .hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px dotted black;
    border-right: 3px dotted black;
    width: 47px;
    height: 47px;
}

.hidden{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.one{
    color: #5800FF;
}

.two{
    color: #00A200;
}

.three{
    color: #FF0000;
}

.insideHidden{
    height:41px;
    width: 41px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid #919191;
    border-bottom: 3px solid #919191;


    display: flex;
    justify-content: center;
    align-items: center;
}


.insideHidden p, .insideHidden img{
    visibility: hidden;
}

.insideHidden:hover > p, .insideHidden:hover > img{
    visibility: visible;
}